@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  overflow-y: hidden;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container{
  background: white;
  padding: 0 20px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 50px;
  font-size: 12px;
}

.header-container a{
  color: black;
  text-decoration: none;
}

.nav-ul{
  display: flex;
  flex-direction: row;
}

.nav-ul a{
  height: 100%;
  width: 100%;
  list-style-type: none;
}

.nav-ul li{
  padding: 0 8px 0;
}

.midia-icons{
  width: 25px;
}

.main-container{
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vw;
  animation: change 10s ease infinite;
}

.main-container h1{
  font-size: 150px;
}

.main-container p{
  margin-top: -30px;
  font-size: 30px;
}

/*Animações e Keyframes*/

@keyframes change {
  0%{
    color: black;
    background-color: white;

  }
  50%{
    color: white;
    background-color: black;
  }
  100%{
    background-color: white;
    color: black;
  }
}
